# Virtual Environment
venv/
.venv/
env/
ENV/
*.env
*.venv

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# Build artifacts
build/
dist/
*.egg-info/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are in a .spec file. Try adding this to your spec file instead:
#  upx=True,
#  upx_exclude=[],
#  cython_<y_bin_226>exclude=[],
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
osetests.xml
.pytest_cache/
coverage.xml

# Jupyter Notebook
.ipynb_checkpoints

#结果目录，如果不想追踪的话
# results/ 